.sidebar {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 100px;
  align-self: flex-start;

  .vendor-checkboxes {
    background-color: #e9ecef;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 10px;
    border-radius: 5px;

    .input-checkbox {
      display: flex;
      gap: 10px;
    }
  }

  .slider-container {
    background-color: #e9ecef;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;

    .slider {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
